

<%= render 'users/list', book: @book, user: @bookd.user %>
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<% if current_user.errors.any? %>
<% p current_user %>
<% p current_user.errors %>
  <% current_user.errors.full_messages.each do |error| %>
  <% p error %>
    <%= error %>
  <% end %>
<% end %>
<div class="d-flex align-items-center">
  <div class="row">
  <div class="col-xs-8">
  <table class="table table-bordered bordr-primary table-hover table-sm books_table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td><%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size:"40x40" %>
          <%= link_to @bookd.user.name, user_path(@bookd.user.id) %></td>
          <td><%= @bookd.title %>
        </td>
        <td><%= @bookd.body %></td>
        <% if @bookd.user.id == current_user.id %>
        <td><%= link_to "edit", edit_book_path(@bookd.id), class:"btn-sm btn-success edit_book_15415" %></td>
        <td><%= link_to "Destroy", book_path(@bookd), class:"btn-sm btn-danger destroy_book_15415", method: :delete,"data-confirm" => "本当に消しますか？" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>